.vscode/

# Python
venv/
.venv/
__pycache__/

# Ignore json except hymns data
*.json
!data/hymns.json

# Ignore the rendered version of the web app
*.html

# Ignore the current version of the service worker
service-worker.js