* {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

body > * {
  padding: 1% 3%;
}

header {
  display: flex;
  background-color: #a70000;
  color: white;
  align-items: center;
}

header img {
  max-width: 85px;
  max-height: 85px;
  padding-right: 1%;
}

/*General table cleanup*/
table,
div {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 1rem;
}

caption {
  font-size: 125%;
}

/*Header row*/
thead {
  border-bottom: 2px solid #333;
}

/* Rows */
tbody tr:nth-child(even) {
  background-color: #f1f1f1; /*Stripes*/
}
tbody tr:hover {
  background-color: #eef; /*Highlight row on hover*/
}
/*Cellstyle*/
/* Alignment and style */
td,
th,
caption {
  padding: 12px 8px;
  border: none;
  vertical-align: top;
  text-align: left;
}

th,
caption {
  padding-block: 1px;
  vertical-align: bottom;
  text-transform: uppercase;
  font-weight: bold;
}

/* p {
  white-space: pre-line;
  line-height: 10px;
  margin-top: 20px;
} */
