* {
    margin: 0;
    padding: 0;
}

td {
    align-items: left;
}

#title-div {
    max-width: 100%;
    background-color: #a70000; 
    margin: 0;
    padding: 1% 3%;
    color: white;
}

#whole-box {
    margin-left: 3%;
    margin-right: 3%;
}

