:root,
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  --color: #a70000;
  --border: color-mix(in oklch, var(--color) 20%, hsl(0 0 98%));
  --highlight: color-mix(in oklch, var(--color) 2%, hsl(0 0 98%));
}

body > * {
  padding: 0.5em 3%;
}

main {
  overflow-x: auto;
}

:any-link {
  color: var(--color);
}

header {
  background-color: var(--color);
  color: white;
}

table {
  border-spacing: 0;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--border);
}

/*Nav and Search bar*/
header nav {
  display: flex;
  justify-content: space-between;
  gap: 1%;
}

header nav h1 {
  flex-grow: 1;
  white-space: nowrap;
}

nav input[type='search'] {
  height: 35px;
  width: min(400px, 25%);
  border: 0;
  border-radius: 28px;

  background-image: url('searchicon.svg');
  background-repeat: no-repeat;
  background-position: center left 0.4rem;
  background-size: 1.3em auto;
  padding-left: 2em;
  align-self: end;
}

caption {
  text-align: left;
}

tbody td {
  border-top: 1px solid var(--border);
}

tbody tr:hover,
thead tr {
  background-color: var(--highlight);
}

tr > * {
  padding: 10px 8px;
  text-align: left;
}

/*Hymn page styling*/
blockquote {
  white-space: pre-line;
  margin-left: 0;
  padding-left: 2em;
  border-left: 3px solid var(--color);
}

dt,
dd {
  display: inline;
  margin-left: 0;
}

dt {
  font-weight: bold;
}

dt::before {
  content: '';
  display: block;
}

dt::after {
  content: ': ';
}
