:root,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

body > * {
  padding: 1% 3%;
}

header {
  background-color: #a70000;
  color: white;
}

/*Nav and Search bar*/
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a70000;
}

.logo-and-title a{
  float: left;
  display: flex;
  color: white;
  align-items: center;
  white-space: nowrap;
}

.logo-and-title a img {
  max-width: 85px;
  max-height: 85px;
  padding-right: 6px;
}

.logo-and-title a{
  text-decoration: none;
  color: white;
}

nav .search-bar-div {
  display: flex;
  width: max-content;
  align-items: center;
  border-radius: 28px;
  background-color: white;
  flex-direction: row-reverse;
  padding: 5px;
  gap: 5px;
}

nav input[type='search'] {
  float: right;
  height: 35px;
  width: 400px;
  border: none;
  font-size: 16px;
  text-align: left;
  border-radius: 28px;

  background-image: url('searchicon.svg');
  background-repeat: no-repeat;
  background-position: center left 0.4rem;
  background-size: 1.3rem auto;
  padding-left: 2rem;
}

/*General table cleanup*/
table,
div {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

caption {
  font-size: 125%;
}

/*Header row*/
thead {
  border-bottom: 2px solid #333;
}

/* Rows */
tbody tr:nth-child(even) {
  background-color: #f1f1f1; /*Stripes*/
}
tbody tr:hover {
  background-color: #eef; /*Highlight row on hover*/
}
/*Cellstyle*/
/* Alignment and style */
td,
th,
caption {
  padding: 12px 8px;
  border: none;
  vertical-align: top;
  text-align: left;
}

th,
caption {
  padding-block: 1px;
  vertical-align: bottom;
  text-transform: uppercase;
  font-weight: bold;
}

/*Hymn page styling*/
blockquote {
  white-space: pre-line;
  margin-left: 0;
  padding-left: 2em;
  border-left: 3px solid #a70000;
}

dl {
  margin-block: 16px;
}

dt,
dd {
  display: inline;
  margin-left: 0;
}

dt {
  font-weight: bold;
}

dt::before {
  content: '';
  display: block;
  margin-block: 4px;
}

dt::after {
  content: ': ';
}
