:root,
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  --color: #a70000;
  --border: color-mix(in oklch, var(--color), #fbfbfb 80%);
  --highlight: color-mix(in oklch, var(--color), #fbfbfb 98%);
}

body > * {
  padding: 0.5em 3%;
}

main {
  overflow-x: auto;
}

:any-link {
  color: var(--color);
}

header {
  display: flex;
  background-color: var(--color);
  color: white;
  gap: 1%;
}

table {
  border-spacing: 0;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--border);
}

tbody td {
  border-top: 1px solid var(--border);
}

tbody tr:hover,
thead tr {
  background-color: var(--highlight);
}

tr > * {
  padding: 12px 8px;
  text-align: left;
}

blockquote {
  white-space: pre-line;
  margin-left: 0;
  padding-left: 2em;
  border-left: 3px solid var(--color);
}
