:root,
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  --color: #a70000;
}

body > * {
  padding: 0.5em 3%;
}

:any-link {
  color: var(--color);
}

header {
  display: flex;
  background-color: var(--color);
  color: white;
  gap: 1%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr > * {
  padding: 12px 8px;
  text-align: left;
}

blockquote {
  white-space: pre-line;
  margin-left: 0;
  padding-left: 2em;
  border-left: 3px solid var(--color);
}
