:root,
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  --width: 960px;
  --color: #a70000;
  --border: color-mix(in oklch, var(--color) 20%, hsl(0 0 98%));
  --highlight: color-mix(in oklch, var(--color) 2%, hsl(0 0 98%));
}

body > * {
  padding: 0.5em max(0.5em, calc((100vw - var(--width)) / 2));
}

main {
  overflow-x: auto;
}

header {
  background-color: var(--color);
  color: white;
}

table {
  border-spacing: 0;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--border);
  overflow: hidden;
}

main textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 8em;
}

/*Nav and Search bar*/
header nav {
  display: flex;
  justify-content: start;
  align-items: center;
}

header nav a {
  display: flex;
  gap: 5%;
  color: white;
  text-decoration: none;
  margin-right: 10em;
}

header nav h1 {
  white-space: nowrap;
  margin: auto;
  color: white;
}

nav input[type='search'] {
  height: 35px;
  width: min(400px, 25%);
  border: 0;
  border-radius: 28px;

  background-image: url('searchicon.svg');
  background-repeat: no-repeat;
  background-position: center left 0.4rem;
  background-size: 1.3em auto;
  padding-left: 2em;
}

caption {
  text-align: left;
}

:any-link {
  color: var(--color);
}

nav :any-link {
  color: white;
}

tbody td {
  border-top: 1px solid var(--border);
}

tbody tr:hover,
thead tr {
  background-color: var(--highlight);
}

thead tr {
  border-radius: 8px;
}

tr > * {
  padding: 10px 8px;
  text-align: left;
}

thead th {
  background-clip: padding-box;
}

th:first-child {
  border-top-left-radius: 7.5px;
}

th:last-child {
  border-top-right-radius: 7.5px;
}

/*Hymn page styling*/
blockquote {
  white-space: pre-line;
  margin-left: 0;
  padding-left: 2em;
  border-left: 3px solid var(--color);
}

dt,
dd {
  display: inline;
  margin-left: 0;
}

dt {
  font-weight: bold;
}

dt::before {
  content: '';
  display: block;
}

dt::after {
  content: ': ';
}



/* Recommendations page */
a.recommendations-page {
  min-width: 200px;
  border: 2px solid #ffffff;
  border-radius: 28px;
  padding: 8px 6px;
  text-transform: uppercase;
  font-size: small;

  display: flex; 
  align-content: center;
  justify-content: center;
  text-decoration: none;

}

a.recommendations-page:hover {
  background-color: #ffffff;
  color: #a70000;
}


.textbox textarea {
  resize: vertical;         
  white-space: pre-wrap;
  overflow-wrap: break-word; 
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 5px 10px;
}

.textbox label {
  font-family: system-ui, sans-serif;
  color: #1f1f1f;
  margin-bottom: 0.4rem;
  display: block;
}

div.textbox input[type='submit'] {
  margin-top: 10px;
  height: 40px;
  width: min(400px, 35%);
  max-width: 250px;
  border: 0;
  border-radius: 28px;
  background-color: #a70000;
  color: #ffffff;
  text-transform: uppercase;
}

.textbox textarea::placeholder {
  color: #8f8f8f;
  font-style: italic;
  opacity: 0.7;
}


div.textbox input[type='submit']:hover {
  border: 2px solid #000000;
  background-color: #ffffff;
  color: #000000;
}


@media only screen and (max-width: 1264px) {
  header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 1%;
  }
  header nav a{
  margin-bottom: 5px;
  } 

  nav input[type='search'] {
  width: min(400px, 35%);
  }
}