:root,
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  --width: 960px;
  --color: #a70000;
  --border: color-mix(in oklch, var(--color) 20%, hsl(0 0 98%));
  --highlight: color-mix(in oklch, var(--color) 2%, hsl(0 0 98%));
}

body > * {
  padding: 0.5em max(0.5em, calc((100vw - var(--width)) / 2));
}

main {
  overflow-x: auto;
}

header {
  background-color: var(--color);
  color: white;
  padding-block: 0;
}

table {
  border-spacing: 0;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--border);
  overflow: hidden;
}

main textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 8em;
}

/*Nav and Search bar*/
header nav {
  display: flex;
  justify-content: start;
  align-items: center;
  justify-content: space-between;
  row-gap: 2vw;
}

header nav a {
  display: flex;
  gap: 5%;
  color: white;
  text-decoration: none;
}

header nav h1 {
  white-space: nowrap;
  margin: auto;
  color: white;
  align-self: center;
}

nav input[type='search'] {
  height: 35px;
  width: min(400px, 25%);
  min-width: 240px;
  border: 0;
  border-radius: 28px;

  background-image: url('searchicon.svg');
  background-repeat: no-repeat;
  background-position: center left 0.4rem;
  background-size: 1.3em auto;
  padding-left: 2em;
}

caption {
  text-align: left;
}

:any-link {
  color: var(--color);
}

nav :any-link {
  color: white;
}

tbody td {
  border-top: 1px solid var(--border);
}

tbody tr:hover,
thead tr {
  background-color: var(--highlight);
}

thead tr {
  border-radius: 8px;
}

tr > * {
  padding: 10px 8px;
  text-align: left;
}

thead th {
  background-clip: padding-box;
}

th:first-child {
  border-top-left-radius: 7.5px;
}

th:last-child {
  border-top-right-radius: 7.5px;
}

/*Hymn page styling*/
blockquote {
  white-space: pre-line;
  margin-left: 0;
  padding-left: 2em;
  border-left: 3px solid var(--color);
}

dt,
dd {
  display: inline;
  margin-left: 0;
}

dt {
  font-weight: bold;
}

dt::before {
  content: '';
  display: block;
}

dt::after {
  content: ': ';
}

/* Recommendations page */
header nav div {
  display: flex;
  align-self: flex-end;
  gap: 0.2rem;
}

a.directory-page,
a.recommendations-page {
  min-width: 50px;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 6px 10px;
  text-transform: uppercase;
  font-size: small;

  display: flex;
  justify-content: center;
  text-decoration: none;
}

a.directory-page:hover,
a.recommendations-page:hover {
  background-color: #ffffff;
  color: #a70000;
}

a.directory-page.active,
a.recommendations-page.active {
  background-color: #ffffff;
  color: #a70000;
  font-weight: 600;
}

.datebox form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.datebox .row {
  display: flex;
  gap: 20px;
  margin-bottom: 18px;
  flex-direction: row;
}

.datebox .row > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

form div input {
  box-sizing: border-box;
  margin-top: 10px;
  height: 40px;
  width: min(400px, 35%);
  max-width: 250px;
  border: 0;
  border-radius: 28px;
  border: 1px solid #000000;
  color: #000000;
  min-width: 100%;
  padding-left: 10px;
}

.datebox textarea {
  resize: vertical;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 5px 10px;
  min-height: 100px;
  margin-top: 10px;
}

.datebox label {
  font-family: system-ui, sans-serif;
  color: #000000;
  display: block;
  text-transform: capitalize;
}

.datebox input[type='text'],
.datebox input[type='date'],
.datebox textarea {
  box-sizing: border-box;
  margin-top: 10px;
  height: 40px;
  width: min(400px, 35%);
  max-width: 250px;
  border-radius: 28px;
  border: 1px solid #000000;
  color: #000000;
  min-width: 100%;
  padding: 5px 10px;
}

.datebox textarea {
  resize: vertical;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border-radius: 10px;
  min-height: 100px;
}

div.datebox input[type='submit'] {
  margin-top: 10px;
  height: 40px;
  width: min(400px, 35%);
  max-width: 250px;
  border: 0;
  border-radius: 28px;
  background-color: #a70000;
  color: #ffffff;
  text-transform: uppercase;
  min-width: 200px;
}

.datebox input::placeholder,
.datebox textarea::placeholder {
  color: #8f8f8f;
  font-style: italic;
  opacity: 0.7;
}

div.datebox input[type='submit']:hover {
  border: 2px solid #000000;
  background-color: #ffffff;
  color: #000000;
}

/* Mobile */
@media (max-width: 1200px) {
  header nav {
    flex-direction: column;
    align-items: stretch;
    row-gap: 0.5rem;
  }

  header nav > a:first-child {
    order: 1;
    align-self: center;
  }

  header nav > a:first-child {
    align-self: center;
  }

  header nav > input[type='search'] {
    order: 2;
    width: 60%;
    margin-bottom: 0;
    align-self: center;
  }

  header nav > div {
    order: 3;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-self: flex-start;
    margin-top: 0.5rem;
  }

  .datebox .row {
    display: flex;
    gap: 20px;
    margin-bottom: 18px;
    flex-direction: column;
  }
}
