<!doctype html>
<html lang="en-US">
  <head>    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Song pilot" />
    <link rel="stylesheet" type="text/css" href="{{ root_dir or '' }}style.css" />
    <link rel="icon" type="image/svg+xml" href="{{ root_dir or '' }}favicon.svg">
    <link rel="manifest" href="{{ root_dir or '' }}manifest.webmanifest">
    {% block script %}{% endblock script %}
    <script src="{{ root_dir or '' }}main.js" defer></script>
    <title>{{ page_title  or 'Psalm Pilot' }}</title>
  </head>

  <body>
    <header>
      <nav>
        <a href="{{ root_dir or './' }}">
          <img src="{{ root_dir or '' }}favicon.svg" alt="Psalm Pilot Logo" width="48" height="48">
          <h1>Psalm Pilot</h1>
        </a>
        <div>
          <a href="{{ root_dir or ''}}index.html" class="directory-page">Directory</a>
          <a href="{{ root_dir or ''}}recommendations.html" class="recommendations-page">Recommendations</a>
        </div>
        
        {% block header %}{% endblock header %} 
      </nav>
    </header>

    <main>
      {% block main %}{% endblock %}
    </main>
  </body>
</html>
