<!doctype html>
<html lang="en-US">
  <head>    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Song pilot" />
    <link rel="stylesheet" type="text/css" href="{{ root_dir or '' }}style.css" />
    <link rel="icon" type="image/svg+xml" href="{{ root_dir or '' }}favicon.svg">
    <link rel="manifest" href="{{ root_dir or '' }}manifest.webmanifest">
    <title>{{ page_title  or 'Psalm Pilot' }}</title>
    {% block script %}{% endblock script %} 
  </head>

  <body>
    <header>
        <nav>
          <div class="logo-and-title">
            <a href="{{ root_dir or '' }}index.html">
              <img src="{{ root_dir or '' }}favicon.svg" alt="Psalm Pilot Logo">
              <h1>Psalm Pilot</h1>
            </a>
          </div>
          {% block header %}{% endblock header %} 
        </nav>
        </header>

    <main>
      {% block main %}{% endblock %}
    </main>

    <script>
      async function chat(message, model="gemini-flash-lite-latest") {
        localStorage.geminiKey = localStorage.geminiKey || prompt("Enter Gemini key")
      
        const res = await fetch(`https://generativelanguage.googleapis.com/v1beta/models/${model}:generateContent`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'x-goog-api-key': localStorage.geminiKey
          },
          body: `{contents:[{parts:[{text:${JSON.stringify(message)}}]}]}`
        })

        return (await res.json()).candidates[0].content.parts[0].text
      }

      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('{{ root_dir }}service-worker.js')
          });
      }
    </script>
  </body>
</html>
