{% extends 'base.jinja' %}

{% set root_dir, page_title = '../', hymn.title %}

{% block main %}
  <div>
    <h2>{{ hymn.title }}</h2>
    <dl>
      <dt>Author</dt>
      <dd>{{ hymn.authors }}</dd>
      <dt>Year</dt>
      <dd>{{ hymn.year }}</dd>
      <dt>Popularity</dt>
      <dd>{{ hymn.popularity }}%</dd>
      <dd>
      <details>
      <summary>Show</summary>
      <ul>
      {% for ref in hymn.scriptureRefs %}
      <li>{{ ref }}</li>
      {% endfor %}
      </ul>
      </details>
      </dd>
      <dt>Lyrics</dt>
      <dd><blockquote>{{ hymn.text }}</blockquote></dd>
      <dt>More Information</dt>
      <dd><a href="https://hymnary.org/text/{{ hymn.titleId }} ">hymnary.org</a></dd>
      <dt>Scripture References</dt>
    </dl> 
  </div>
{% endblock %}