{% extends 'base.jinja' %}

{% set root_dir, page_title = '../', hymn.title %}

{% block main %}
  <div>
    <h2>{{ hymn.title }}</h2>
    <dl>
      <dt>Author</dt>
      <dd>{{ hymn.authors }}</dd>
      <dt>Publication Year</dt>
      <dd>{{ hymn.publicationYear }}</dd>
      <dt>Popularity</dt>
      <dd>{{ hymn.popularity }}%</dd>
      <dt>Lyrics</dt>
      <dd><blockquote>{{ hymn.text }}</blockquote></dd>
    </dl> 
  </div>
{% endblock %}