{% extends 'base.jinja' %}

{% set root_dir, page_title = '../', hymn.title %}

{% block main %}
  <div>
    <h2>{{ hymn.title }}</h2>
    <dl>
      <div>
        <dt>Author</dt>
        <dd>{{ hymn.authors }}</dd>
      </div>
      <div>
        <dt>Publication Year</dt>
        <dd>{{ hymn.publicationYear }}</dd>
      </div>
      <div>
        <dt>Popularity</dt>
        <dd>{{ hymn.popularity }}%</dd>
      </div>
    </dl> 
    <p>{{ hymn.text }}</p>
  </div>
{% endblock %}