{% extends 'base.jinja' %}
{% block script %}<script src="{{ root_dir or '' }}main.js"></script>{% endblock script %} 
{% block header %}
  <div class="search-bar-div">
    <input type="search" id="search" name="search" placeholder="Search hymns..." onkeyup="search_title()" />
  </div>
{% endblock header %} 

{% block main %}
  <table>
    <caption>Hymns</caption>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Publication Year</th>
        <th>Popularity</th>
      </tr>
    </thead>
    <tbody>
      {% for hymn in hymns %}
      <tr>
        <td><a href="hymns/{{ hymn.titleId }}.html">{{ hymn.title }}</a></td>
        <td>{{ hymn.authors or '' }}</td>
        <td>{{ hymn.publicationYear or '' }}</td>
        <td>{{ hymn.popularity }}%</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
