{% extends 'base.jinja' %}

{% set root_dir = '' %}

{% block main %}
  <table>
    <caption>Hymns</caption>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Publication Year</th>
        <th>Popularity</th>
      </tr>
    </thead>
    <tbody>
      {% for hymn in hymns %}
      <tr>
        <td>{{ hymn.title }}</td>
        <td>{{ hymn.authors or '' }}</td>
        <td>{{ hymn.publicationYear or '' }}</td>
        <td>{{ hymn.popularity }}%</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}