{% extends 'base.jinja' %}

{% set page_title = 'Recommendations' %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
{% endblock script %} 

{% block main %}
  <h2>Recommendations</h2>
  <div class="filters">

    <div class="datebox">
      <form id="recommendation-form">
        <label for="sermon-date">Enter sermon date:</label>
        <input type="date" id="sermon-date" name="sermonDate">

        <label for="topic-textbox">Enter the topic of the sermon:</label>
        <input type="text" id="topic-textbox" name="topic-textbox">

        <label for="scripture-textbox">Enter the Scripture(s) being used:</label>
        <textarea id="scripture-textbox" name="scripture-textbox"></textarea>
        <input type="submit" value="Get Recommendations">
      </form>
    </div>

    <div class="textbox-response">
      <h2>Service Recommendation</h2>
    <div class="response-text"></div>

  </div>
{% endblock %}