{% extends 'base.jinja' %}

{% set root_dir, page_title = '../', 'Recommendations' %}

{% block script %}<script src="{{ root_dir or '' }}main.js"></script>{% endblock script %} 
{% block header %}
<input type="search" id="search" name="search" placeholder="Search hymns..." onkeyup="search_title()" />
{% endblock header %} 

{% block title %}
<h1>Recommendations</h1>
{% endblock title%}

{% block main %}
  <h2>Recommendations</h2>
  <div class="filters">

    <!-- 1 -->
    <label for="top-chart">
      Top Chart:
      <select id="top-chart">
        <option value="">All</option>
        <option value="week">This Week</option>
        <option value="month">This Month</option>
        <option value="year">This Year</option>
      </select>
    </label>

    <!-- 1 -->
    <div class="holiday-filters">
      <span>Holidays:</span>
      <label><input type="checkbox" value="christmas"> Christmas</label>
      <label><input type="checkbox" value="easter"> Easter</label>
    </div>

    <div class="textbox">
      <form>
        <label for="textbox">Input for your service (date/time of year, scripture(s), sermon topic):</label>
        <input type="text" name="textbox">
      </form>
    
  </div>

  <table>
    <caption><h3>Hymn Directory</h3></caption>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>

        <th>
          <a href="#">
            Popularity
            <span class="icon-span">
              <i class="up-icon">&#x25B2;</i>
              <i class="down-icon">&#9660;</i>
            </span>
          </a>
        </th> 

      </tr>
    </thead>
    <tbody>
      {% for hymn in hymns %}
      <tr>
        <td><a href="hymns/{{ hymn.titleId }}.html">{{ hymn.title }}</a></td>
        <td>{{ hymn.authors or '' }}</td>
        <td>{{ hymn.publicationYear or '' }}</td>
        <td>{{ hymn.popularity }}%</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}