name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: make install

      - name: Install Playwright Browsers
        run: playwright install chromium --with-deps

      - name: Build Site
        run: make build

      - name: Run Test
        env:
          GEMINI_KEY: ${{ secrets.GEMINI_KEY }}
        run: pytest
